@{
    var stage = ViewData["Stage"];
    var testEndpointName = ViewData["TestEndpointName"];
    var liveEndpointName = ViewData["LiveEndpointName"];
    var soapAction = ViewData["SoapAction"];
    var delayedSoapAction = ViewData["DelayedSoapAction"];
            
}

<tr>
    <td style="font-weight:bold;">@stage</td>
    <td></td>
</tr>
<tr>
    <td>
        Test Endpoint
    </td>
    <td>
        @{if (testEndpointName == null)
        {
            <label style="color:red">Needed</label>
        }
        else
        {
            @testEndpointName
        }}
    </td>
</tr>
<tr>
    <td>
        Live Endpoint
    </td>
    <td>
        @{if (liveEndpointName == null) 
        { 
            <label style="color:red">Needed</label>      
        }
        else
        {
            @liveEndpointName
        }}
    </td>
</tr>
<tr>
    <td>
        @stage Request Soap Action
    </td>
    <td>
        @{if (soapAction == null)
        {
            <label style="color:red">Needed</label>
        }
        else
        {
            @soapAction
        }}
    </td>
</tr>
<tr>
    <td>
        Delayed @stage Response Soap Action
    </td>
    <td>
        @{if (delayedSoapAction == null)
        {
            <label style="color:red">@( ((string)@stage).Contains("Accept") ? "Might be required, query insurer" : "Needed"  )</label>
        }
        else
        {
            @delayedSoapAction
        }}
    </td>
</tr>
