<div align="center" style="padding:15px 0px 25px 0px;background-color:aliceblue;">
    <h3 style="display:inline;vertical-align:middle;color:red;">CheckList - Before You Proceed</h3>
    &nbsp;&nbsp;
    <img id="imgDropDownCheckList" src="~/Content/Images/dropdown.png" style="width:30px;height:30px;" />
    <br />
    <div id="divFixHelp">
        <h2>Decide the Type of Fix:</h2>
        The type of fix requried is usually stated within the 'Summary' or 'Description' of JIRA/TRAC task (ask BA if not sure)<br />
        See a sample for fix required in <b>SUN  </b><a href="" style="display:inline">Sun Fix</a> <br />
        See a sample for fix required in <b>Trader  </b><a href="" style="display:inline">Trader Fix</a>  <br />

        <div id="divSunFixesHelpContainer" style="width: 50%; float: left; background-color: aliceblue;">
            <label id="lblSunFixHelp" style="text-decoration: none; font-size: 22px;color:blue;">Fix For Sun : Outputs XML</label>
        </div>


        <div id="divTraderFixesHelpContainer" style="width: 50%; float: right; background-color: aliceblue;">
            <label id="lblTraderFixHelp" style="text-decoration: none; font-size: 22px; color: blue;">Fix For Trader : Outputs SQL script</label>
        </div>
    </div>

<hr style="background-color: white; height:5px; width: 100%;"/>
    <div align="left">
        <h4 style="display:inline;vertical-align:top;color:blue;float:left;">Help with :</h4>
        <div align="center">
            <div id="help_fixtype" class="helpItemBackground"> Fix Type </div> &nbsp;&nbsp;
            <div id="help_changepremiums" class="helpItemBackground"> Change Premiums </div> &nbsp;&nbsp;
            <div id="help_transactiontype" class="helpItemBackground"> Transaction Type </div> &nbsp;&nbsp;
            <div id="help_businessunit" class="helpItemBackground"> Business Unit </div> &nbsp;&nbsp;
            <div id="help_postingdate" class="helpItemBackground"> Posting Date </div> &nbsp;&nbsp;
            <div id="help_charappend" class="helpItemBackground"> Charater Appending </div> &nbsp;&nbsp;
    </div>
     </div>
</div>

<div id="divSunFixesHelpContainer2" style="width: 50%;background-color: aliceblue;margin:0 auto;padding:10px; ">
    
</div>
